<html lang='ko'>
    <head>
        <title>Hello Vue</title>
    </head>
    <body>
        <div id="app">
            {{message}}
        </div>
        <div id="app2">
            <span v-bind:title="message">
                Hover 시 동적으로 바인딩된 title을 확인할 수 있습니다
            </span>
        </div>
        <div id="app3">
            <div v-if="seen">
                이제 볼 수 있습니다
            </div>
        </div>
        <div id="app4">
            <ol>
              <li v-for="todo in todos">
                {{ todo.text }}
              </li>
            </ol>
          </div>
          <div id="app5">
              <div>{{message}}</div>
              <button v-on:click="reverseMessage">Reverse</button>
          </div>
          <div id="app6">
            <div>{{message}}</div>
            <input type="text" v-model="message">
        </div>
        <div id="app7">
            <ol>
                <todo-item></todo-item>
            </ol>
        </div>
        <div id="app8">
            <ol>
                <todo-item-2
                    v-for="item in groceryList"
                    v-bind:todo="item"
                    v-bind:key="item.id"
                ></todo-item-2>
            </ol>
        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        const app = new Vue({
            el: '#app',
            data:{
                message: 'Hello Vue.js!'
            }
        });
        const app2 = new Vue({
            el: '#app2',
            data:{
                message: `이 페이지는 ${new Date()}에 로드 되었습니다.`
            }
        });
        const app3 = new Vue({
            el: '#app3',
            data:{
                seen: true
            }
        });
        let app4 = new Vue({
            el: '#app4',
            data:{
                todos: [
                    {text: 'html'},
                    {text: 'javascript'},
                    {text: 'css'}
                ]
            }
        });
        let app5 = new Vue({
            el: '#app5',
            data:{
                message: 'hello vue!!!!'
            },
            methods:{
                reverseMessage: function(){
                    this.message = this.message.split('').reverse().join('')
                }
            }
        });

        let app6 = new Vue({
            el: '#app6',
            data:{
                message: 'hello vueue!!'
            }
        });

        Vue.component('todo-item', {
            template: '<li>할일 항목 하나입니다.</li>'
        });

        let app7 = new Vue({
            el: '#app7'
        });

        Vue.component('todo-item-2', {
            props:['todo'],
            template: '<li>{{todo.text}}</li>'
        });

        let app8 = new Vue({
            el: '#app8',
            data: {
                groceryList: [
                    {id:1, text:"html"},
                    {id:2, text:"javascript"},
                    {id:3, text:"css"}
                ]
            }
        });
    </script>
</html>